body {
  font-family: 'Montserrat';
  text-align: center;
}

h1, h2, h3 {
  font-family: "Montserrat";
  font-weight: bold;
}

/* Heading */
.big-heading {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  margin: auto;
  display: block;
  padding: 0.7rem;
}

.row {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.gif {
  padding-top: 2rem;
  margin: auto;
}

/* Container */
.container-fluid {
  padding: 7% 10%;
}

/* Sections */
.color-section {
  background-color: #f9f7f7;
  color: black;
}

.white-section {
  background-color: white;
}

/* Navigation Bar */
.navbar {
  padding: 0.8rem 0 0.8rem;
  border-bottom: 1px solid #dbe2ef;
}

.navbar-inner {
  background: rgba(249, 247, 247, 0.5);
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-size: 1rem;
  font-family: "Montserrat";
  font-weight: 400;
}

/* Introduction */
.introduction-img {
  border: 2px solid #dbe2ef;
  border-radius: 20px;
  margin: 30px;
}

#Introduction.container-fluid {
  padding: 5% 2%;
}

.introduction-title {
  font-family: "Montserrat";
  text-align: left;
  font-size: 1.3rem;
  font-weight: 600;
}

.introduction-list {
  font-family: "Montserrat";
  text-align: left;
  font-size: 1.1rem;
}

.introduction-list-tab{
  font-family: "Montserrat";
  text-align: left;
  font-size: 1.1rem;
  padding-left: 1rem;
}

/* Projects */
.Projects-head{
  font-family: "Montserrat";
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  padding-bottom: 2rem;
}

#Projects.container-fluid {
  padding: 1%;
  margin: 1%;
}

.Projects-row {
  padding: 0;
  margin: 0 10% 0 10%;
}

.Projects-img {
  border: 2px solid #dbe2ef;
  border-radius: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.Projects-title {
  font-family: "Montserrat";
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 0.7rem;
  margin-bottom: 0;
}

.Projects-time{
  font-family: "Montserrat";
  text-align: left;
  padding-left: 1rem;
  font-size: 1rem;
  margin-bottom: 10px ;
}

.Projects-list {
  font-family: "Montserrat";
  text-align: left;
  font-size: 1rem;
}

/* Gallery */

#Gallery.container-fluid {
  padding: 1%;
  margin: 0;
}

.Gallery-row {
  padding: 0;
  margin: 0;
}

.Gallery-head{
  font-family: "Montserrat";
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  padding-bottom: 2rem;
}

.Gallery-img img{
  padding: 10px 0 10px 0 ;
  transition: transform .8s, visibility .8s ease-in;
}

.Gallery-img:hover img {
  transform: scale(1.05);
}

/* Footer */
#footer {
  line-height: 1.5;
  padding: 1%;
}

.footer-img {
  padding: 10px 10px;
  color: black;
}

.footer-img:hover {
  transform: scale(1.5);
  color: black;
  text-decoration: none;
}

.copy-right{
  margin-top: 10px;
}

@media (max-width:992px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
